@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera, and Edge */
}

html, body, canvas {
    touch-action: none;
}

body > .inner {
    display: none;
}

body.pg-loaded > .inner {
    display: block;
}

